<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSource>
    <add key="sitecore.myget.org" value="https://sitecore.myget.org/F/sc-packages/api/v3/index.json" />
  </packageSource>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>  
</configuration>