<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="CommonServiceLocator.NinjectAdapter" version="3.0.1.10" targetFramework="net45" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net45" />
  <package id="Ninject.Integration.SolrNet" version="0.4.0.2002" targetFramework="net45" />
  <package id="Sitecore.CMS.Core.API" version="10.0.1.56-release-82-update1" targetFramework="net452" />
  <package id="SolrNet" version="0.4.0.2002" targetFramework="net45" />
  <package id="Sitecore.ContentSearch.API" version="8.2.1.37-r160906" />
  <package id="Sitecore.ContentSearch.API.Solr" version="8.2.1.37-r160906" />
</packages>